@import
  "https://fonts.googleapis.com/css?family=Oswald&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  color: #eee
}
#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  
}
.container {
  max-width: 1000px;
  width: 100%;
    margin: 0 auto;
}

.btn {
  padding: 0 2opx;
  height: 40px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px white solid;
  border-radius: 2px;
  color: #eee;
  background: transparent;
}

.grid {
  display: flex;
}
header {
   position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}


.logo > img {
  width: 205;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  
  top: 0;

  color: white;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    
  }
   nav li {
    padding-bottom: 5px;
    
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
  #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
} 


#about{
 margin-top: 30px;
}

#about .icon {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: red;
}
@media (max-width: 550px){
  #about .icon {
    display: none;
  }
}
#about .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  about .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
@media (max-width: 650px) {
  #about {
    margin-top: 0;
  }
}

#clean {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#clean > iframe {
  max-width: 560px;
  width: 100%;
}

#prices {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product > .level {
  background-color: #eee;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

@media (max-width: 800px) {
  #prices {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
footer {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: black;
}